@model DomainModel.ViewModels.UsersRolesViewModel[]

@{
    ViewBag.Title = "Manage roles";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Manage", "Role", FormMethod.Post, new {@class = "form-horizontal" }))
{
    for (var i = 0; i < Model.Length; i++)
    {
        var user = Model[i];
        <div class="form-group">
            @Html.HiddenFor(x => x[i].Id)

            <label class="col-md-2 control-label">
                @Html.DisplayFor(x => x[i].Name)
            </label>

            <div class="col-md-10 form-input">
                @Html.DropDownListFor(x => x[i].RoleId, user.Roles, new {@class="form-control" })
            </div>
        </div>
    }

    <input class="btn btn-primary" type="submit" value="Submit"/>
}