body {
    padding-bottom: 20px;
    padding-top: 50px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt { white-space: normal; }

input,
select,
textarea { max-width: 280px; }

.display-label {
    font-weight: bold;
    padding-top: 5px;
}

.field-validation-error { color: #f00; }

.field-validation-valid { display: none; }

.input-validation-error {
    background-color: #fee;
    border: 1px solid #f00;
}

.validation-summary-errors {
    color: #f00;
    font-weight: bold;
}

.validation-summary-valid { display: none; }

.denied-access-log { color: #f00; }

.form-group .select2-container { width: 280px; }

.form-horizontal .control-label { text-align: left; }

.center-header { text-align: center; }