@model InformationalVaults.Models.LogOnViewModel

@{
    ViewBag.Title = "Login page";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Login", "Account"))
{
    @Html.EditorForModel()

    <div>
        @Html.ValidationMessage("")
    </div>

    <input class="btn btn-default" type="submit" value="Log in" />
}