@model InformationalVaults.Models.RegisterViewModel

@{
    ViewBag.Title = "Register page";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Register", "Account"))
{
    @Html.EditorForModel()

    @Html.ValidationMessage("")

    <input class="btn btn-default" type="submit" value="Register" />
}